section {
  width: calc(100% - 70px);
  position:relative;
  left:70px;
}

/*===================================================*/
/* Navigation */
/*===================================================*/

nav {
  z-index:99;
  width:70px;
  height:100%;
  background:#4e4e4e;
  position:fixed;
  top:0;
  left:0;
}

nav img {
  width: calc(100% - 30px ) ;
  padding:15px;
  height:auto;
}

/*===================================================*/
/* Timeline stuff */
/*===================================================*/

#timeline {
  min-height:200px;
  width:calc( 100% - 40px );
  padding:20px;
}

.actions {
  width: calc(100% - 40px);
  padding:10px 20px;
  background:#FAFAFA;
}

#current_time {
  text-align:center;
  overflow: hidden;
}

#timeline h5 {
  position:absolute;
  left:20px;
  top:20px;
}

#time_label {
  position:absolute;
  width:50%;
  top:25px;
  left:25%;
}

.time_indicator {
  width:1px;
  display:block;
  background: #ececec;
  height:150px;
  position:absolute;
  left:50%;
  top:65px;
}

#current_time_indicator {
  background: #F76262;
  left:50%;
}

.timelabel {
  position:relative;
  top:42%;
  color:#efefef;
  background: #ffffff;
  padding:2px 10px;
  border:1px solid #efefef;
}

/*===================================================*/
/* Headers */
/*===================================================*/

h1 { font-size: 4.0em; }
h2 { font-size: 3.4em; }
h3 { font-size: 2.8em; }
h4 { font-size: 2.2em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.2em; }

/*===================================================*/
/* General */
/*===================================================*/

p, span, a, input, textarea, button   { font-size: 1em; }
.font-small  { font-size: 0.8em; }
.clear       { clear: both; }
b            { font-weight:400; }
i            { font-style: italic; }
p            { padding: 15px 0; }
a            { color: #40b0ee; }
a:hover      { color: #99d4f5; cursor:pointer; }
a:active     { opacity: 0.3; }

/*===================================================*/
/* Colours */
/*===================================================*/

.white     { color:#ffffff; }
.black     { color: #404040; }
.bg-grey   { background: #ebebeb; }
.bg-black  { background: #404040; }
.bg-blue   { background: #40b0ee; }

/*===================================================*/
/* Common Stylings */
/*===================================================*/

.rounded   { border-radius: 0.1em; }
.padded    { padding: 1% 2%; }
.shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
}

/*===================================================*/
/* Figures & Captions */
/*===================================================*/

figure {
  width: 80%;
  margin:3% 10%;
}
figure img {
  max-width:100%;
  border-radius: 5px 5px 0px 0px;
}
figcaption {
  font-style: italic;
  text-align:center;
  padding:10px;
  border-radius: 0px 0px 5px 5px;
}


/*===================================================*/
/* Flashes */
/*===================================================*/

.flash {
  padding:10px;
  text-align:center;
  font-style:italic;
  border-radius:3px;
}

/* Yellow */
.alert {
  color: #f7aa24;
  background: #FEEED3;
}

/* Green */
.confirmation {
  color: #4ad527;
  background: #DBF7D3;
}

/* Red */
.warning {
  color: #ee4040;
  background: #FCD9DA;
}

/* Blue */
.notice {
  color: #40b0ee;
  background: #D9EFFC;
}

/*===================================================*/
/* Form Elements */
/*===================================================*/

form { padding: 5% 0; }

input:focus, textarea:focus {
  border: 1px solid #40b0ee;
  outline: none;
}

input[type="submit"] {
  width:auto;
  margin-top:10px;
}

textarea {
  width:100%;
  max-width:100%;
  min-height:120px;
}

input, textarea {
  padding:10px;
  margin: 5px 0px;
  width:calc(100% - 20px);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
}

label {
  display:block;
  padding:10px 0px 0px 3px;
}

input, a, button {
  transition: all 0.5s;
}

input[type="submit"], button {
  cursor:pointer;
  border: 1px solid  #ededed;
  background: #ffffff;
  color: #40b0ee;
  border-radius: 4px;
  padding:10px;
  outline: none;
}

input[type="submit"]:hover, button:hover {
  background: #40b0ee;
  color:#ffffff;
  border-color: #38a0da;
}

input[type="submit"]:active, button:active {
  transition: opacity 0.1s;
  opacity: 0.3;
}

/*===================================================*/
/* Tags */
/*===================================================*/

.tags {
  width:calc(100% - 40px);
  padding:20px;
}

.tags span {
  padding:6px 10px;
  margin-bottom:10px;
  display:inline-block;
}

.tag {
  background:#f6f6f6;
  padding:6px 10px;
  margin-right:10px;
  border-radius:3px;
  color:#adadad;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  position:relative;
}

.tag:hover {
  color:#ffffff;
  background:#d45656;
}

.tag { transition: all 0.5s; }

.tag-active {
  color:#ffffff;
  background:#ec7c7c;
}


/*===================================================*/
/* Activities */
/*===================================================*/

.activities {
  padding: 20px;
  width: calc(100% - 110px);
}

.activity {
  float:left;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width:20%;
  min-width:200px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.checkbox {
  width:25px;
  height:25px;
  display:inline-block;
  vertical-align:middle;
  margin-right:10px;
  background:url("../img/checkboxes_empty.png");
  background-size:contain;
  transition:background 0.5s;
}

.checkbox:hover {
  background:url("../img/checkboxes_hover.png");
  background-size:contain;
  cursor:pointer;
}

.checkbox:active {
  background:url("../img/checkboxes_grey.png");
  background-size:contain;
}

.complete .checkbox {
  background:url("../img/checkboxes_grey.png");
  background-size:contain;
}

.complete .checkbox:hover {
  background:url("../img/checkboxes_delete.png");
  background-size:contain;
}

.complete .todo_label {
  text-decoration: line-through;
}

.complete .checklist_label {
  text-decoration: line-through;
}

.checklist_item_count {
  font-size:0.7em;
  background:#fafafa;
  padding:5px;
  margin-left:10px;
}

.show-more-arrow {
  display:inline-block;
  float:right;
  width:25px;
  height:25px;
  background-image: url("../img/arrow.png");
  background-size:contain;
  cursor:pointer;
  transition: transform 0.5s;
}

.show-more-arrow:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.show-more-arrow.down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.show-more-arrow.down:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.activities ul {
  background: #fafafa;
  padding:20px;
  display:none;
}

.activities li {
  margin-bottom:5px;
}

.activity-tags {
  font-size:0.8em;
  padding:10px 0 0 0;
  font-style: italic;
}

.tag-small {
  padding:3px;
  color: #ec7c7c;
}


.tag-small:hover {
  cursor: auto;
  color: #ec7c7c;
}

#new_activity_form {
  position:absolute;
  top:0;
  left:70;
  display:none;
}

.modal {
  position:absolute;
  left:25%;
  right:25%;
  top:100px;
  min-height: 400px;
  width:40%;
  padding:5%;
  border:1px solid #fafafa;
  background:#ffffff;
  border-radius: 5px;
}

#back {
  background: rgba(0,0,0,0.5);
  position:absolute;
  top:0;
  left:0;
  min-width: 1000px;
  min-height: 1000px;
  width:100%;
  height:100%;
}

.field-error {
  border-color:#d45656;
}
